#orderdisplay {
  display: none;
}
.addressGetter {
  display: none;
  margin-top: 15px;
}
#background {
  background-image: url(../img/newpizza.jpg);
  z-index: -10;
  background-position: top;
  background-size: cover;
  max-width: 90%;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  background-repeat: repeat;
}
.container {
  font-family: 'Bangers', cursive;
  background: rgba(255,255,255,0.75);
  background: -moz-linear-gradient(left, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.75)), color-stop(100%, rgba(255,255,255,0.75)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
  margin-top: 100px;
  padding-bottom: 20px;
  border-radius: 20px;
  padding-left: 60px;
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
}
#sizeselect {
  max-width: 180px;
  margin-right: 0;
}
#sizeselect:hover {
  cursor: pointer;
}
.ingpick{
  padding-bottom: 0;
  margin-right: 20px;
}
.checkbox{
  margin-top: 0;
  text-align: left;
  margin-bottom: 5px;
  max-width: 200px;
  padding-left: 0;
  padding-right: 0;
}
.ingStyle {
  font-size: 12pt;
  font-weight: 300;
  margin-right: 20px;
  min-width: 100px;
}
.btn {
  color: #161616;
  background-color: #4EC9F2;
  margin-top: 10px;
}
.btn:hover {
  background-color: #388AA6;
}
.cityform, .stateform {
  max-width: 50%;
  display: inline-block;
}
label {
  min-width: 100px;
  margin-top: 8px;
  margin-bottom: 0px;
}
fieldset.form-group {
  margin-bottom: 0;
}
#orderdisplay h4 {
  display: inline;
  max-width: 30%;
  margin-right: 50px;
  margin-top: 3px;
}
#delivery{
  margin-top: auto;
  margin-bottom: auto;
}
#deliveryBtn {
  display: inline;
}
#addressDisplay {
  text-align: center;
  font-size: 16pt;
  margin-top: 30px;

}
#prices {
  display: inline;
  margin-right: 20px;
}
#formcol {
  margin-bottom: 0;
  height:70px;
}
#pricecol {
  padding-top: 35px;
  padding-left: 0;
  height: 70px;
}
#checkboxrow {
  padding-bottom: 0;
}
#prices {
  margin-top: 10px;
  font-weight: 200;
}
